<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnStr" connectionString="Server=.; Database = ResortDB; Integrated Security = true;" />
    <add name="XeContext" connectionString="data source=.;initial catalog=ResortDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ThucDonContext" connectionString="data source=.;initial catalog=ResortDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLResort.Properties.Settings.ResortDBConnectionString"
      connectionString="Data Source=(local);Initial Catalog=ResortDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
